name: Test

on: 
  push:
  pull_request:

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.23.x,1.24.x,1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Validate
      if: matrix.platform == 'ubuntu-latest'
      run: make validate

    - name: Test
      run: make test
