name: Test

on: 
  push:
  pull_request:

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x,1.22.x,1.23.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Validate
      if: matrix.platform == 'ubuntu-latest'
      run: make validate

    - name: Test
      run: make test
