name: Test

on: 
  push:
  pull_request:

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x,1.23.x,1.24.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Go
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Validate
      if: matrix.platform == 'ubuntu-latest'
      run: make validate

    - name: Test
      run: make test
