on: [push, pull_request]
name: Test JS
permissions: {}
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x,1.19.x]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - name: Install wasmbrowsertest
      run: |
        go install github.com/agnivade/wasmbrowsertest@latest
        mv $HOME/go/bin/wasmbrowsertest $HOME/go/bin/go_js_wasm_exec

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Test
      run: go test -exec="$HOME/go/bin/go_js_wasm_exec" ./...
      env:
        GOOS: js
        GOARCH: wasm